@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0, 0, 0;
		--foreground: 255, 255, 255;

		--base-black: 0, 0, 0;
		--base-white: 255, 255, 255;

		--accent-normal: 0, 194, 255;
		--accent-dark: 0, 178, 234;
		--accent-light: 200, 242, 255;

		--brand-normal: 92, 216, 255;

		--fill-light: 152, 162, 179;
		--fill-mid: 102, 112, 133;
		--fill-strong: 71, 84, 103;
		--fill-extra: 52, 64, 84;

		--text-primary: 16, 24, 40;
		--text-secondary: 52, 64, 84;
		--text-tertiary: 71, 84, 103;

		--bg-global: 0, 0, 0;
		--bg-primary: 0, 0, 0;
		--bg-secondary: 249, 250, 251;
		--bg-tertiary: 234, 236, 240;
		--bg-gray-fill-light: 249, 250, 251;

		--border-strong: 208, 213, 221;
		--border-mid: 234, 236, 240;
		--border-heavy: 152, 162, 179;

		--grey-light: 249, 250, 251;
		--grey-mid: 242, 244, 247;
		--grey-heavy: 208, 213, 221;
		--grey-strong: 234, 236, 240;

		--grey-700: 52, 64, 84;
		--grey-500: 102, 112, 133;
		--grey-400: 152, 162, 179;
		--grey-200: 234, 236, 240;
		--grey-50: 249, 250, 251;

		--error-800: 145, 32, 24;
		--error-700: 179, 35, 24;
		--error-600: 217, 45, 32;
		--error-500: 240, 68, 56;
		--error-300: 253, 162, 155;
		--error-200: 254, 205, 202;
		--error-100: 254, 228, 226;
		--error-50: 254, 243, 242;

		--warning-500: 247, 144, 9;
		--warning-50: 255, 250, 235;

		--purple-700: 89, 37, 220;
		--purple-400: 164, 138, 251;
		--purple-200: 221, 214, 254;
		--purple-50: 244, 243, 255;

		--success-700: 6, 118, 71;
		--success-600: 7, 148, 85;
		--success-500: 23, 178, 106;
		--success-400: 71, 205, 137;
		--success-300: 117, 224, 167;
		--success-200: 169, 239, 197;
		--success-100: 219, 250, 230;
		--success-50: 236, 253, 243;

		--cyan-500: 6, 174, 212;
		--cyan-400: 34, 204, 238;
		--cyan-300: 103, 227, 249;
		--cyan-200: 165, 240, 252;
		--cyan-100: 207, 248, 254;
		--cyan-50: 236, 253, 255;

		--yellow-400: 250, 197, 21;

		--custom-purple: 123, 97, 255;
		--custom-green: 11, 19, 20;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		/* @apply border-border; */
	}
	body {
		@apply bg-custom-green font-base text-text-primary;
	}

	body::-webkit-scrollbar {
		width: 8px;
	}

	body::-webkit-scrollbar-track {
		background: transparent;
	}

	body::-webkit-scrollbar-thumb {
		background-color: rgb(var(--accent-normal));
		border-radius: 20px;
		border: 3px solid rgb(var(--accent-normal));
	}
}
